def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
report {
    enabled = true
    file    = "report_${trace_timestamp}.html"
}
timeline {
    enabled = true
    file    = "timeline_${trace_timestamp}.html"
}

process {
    executor = 'pbspro'
    project = params.nci_project
    storage = params.nci_storage
    beforeScript = 'module use /g/data/if89/apps/modulefiles'
    module = 'deepvariant-gpu/1.6.1'

    withName: MAKE_EXAMPLES {
        queue = 'normalsr'
        cpus = 104
        memory = '500.GB'
        time = '2.h'
        disk = '10GB'
        module = 'parallel:deepvariant-gpu/1.6.1'
    }

    withName: CALL_VARIANTS {
        queue = 'gpuvolta'
        cpus = 12
        gpus = 1
        memory = '96.GB'
        time = '2.h'
        disk = '10GB'
    }

    withName: POSTPROCESS_VARIANTS_AND_VCF_STATS_REPORT {
        queue = 'normalbw'
        cpus = 14
        memory = '128.GB'
        time = '1.h'
        disk = '10GB'
    }
}